HELP.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build-local/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.fire*
fire*

node_modules
package-lock.json

public/index.bak